/* General Styles */
.indented {
    margin: 5px;;
}

/* Title Styles */
#title {
    margin: 5px;
}

/* Navigation Styles */
#navbar {
    display: flex;
    flex-direction: row;
    background-color: powderblue;

    border: black solid 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

#navbar > * {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 700px) {
    #navbar {
        flex-direction: column;
    }
}

/* Petbox Styles */
#petbox {
    border: black solid 5px;
    margin: 5px;
    width: 480px;
}

#petbox > * {
    text-align: center;
}

#pet_name {
    font-weight: bold;
}

#pet_img {
    width: 100%;

    border-top: black solid 5px;
    border-bottom: black solid 5px;
}

#stats_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Inventory/Shopfront Styles */
#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: black solid 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.menu_item {
    padding: 10px;
    margin: 20px;
    background-color: #f5f5dc;

    border: black solid 2px;
    border-radius: 10px;
}

.menu_item:hover {
    background-color: #cdcdaf;
}

/* Shops List Styles */
#shops_list {
    border: black solid 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

#shops_list > p {
    font-weight: bold;
    font-size: 2em;
}

.shops_category > * {
    line-height: 40px;
}

.shops_category > dt {
    font-size: 1.5em;
}

/* Games List Styles */
#games_list {
    border: black solid 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

#games_list > dt {
    font-weight: bold;
    font-size: 2em;
}

#games_list > * {
    line-height: 40px;
}

/* Counting Game Styles */
#counting_game_screen {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1c8c8;
    border: 5px;
}

#sample_shape {
    width: 100px;
    height: 100px;
}